@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600|Quicksand:400');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: calc(15px + (100vw / 480));
}
